


body{
  background-color: #fafafa;
  margin:0px;
    padding:0px;
}

.card{
  margin-top: 20%;
  background-color: white;
  width:80%;
  height:auto;
  margin:auto;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-radius: 2px;
  align-items: center;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: 0.5s ease-in-out;
  -webkit-animation: slidein 0.5s;
  -moz-animation: slidein 0.5s;
}
.actionbtn{
  border: 2px solid  #00796B;
  background-color: #00796B;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    margin:auto;
     outline:none;
    border-radius: 50% 50%;
    font-weight: bolder;
    width:1.5em;
    height:1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.actionbtn:active {
  border: none;
  transition: 0.3s cubic-bezier(0.2,0.5,0.55,1);
  background-color: lightgrey;
  color: grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
input.texteingabe{
  border: none;
  border-bottom: 1px solid lightgrey;
  color: darkgrey;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 5px;
  cursor: pointer;
  margin:auto;
   outline:none;

   width: 50%;



}
input.texteingabe:hover{

  transition: 0.5s ease-in-out;
  border-bottom: 1px solid grey;


}
input.texteingabe:active{
  background-color: #fbfbfb;
  transition: 0.5s ease-in-out;
  border-bottom: 1px solid grey;



}
table {
  table-layout: fixed;
  width: 100%;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #888888;
  outline:none;
  text-overflow: clip;



}
h1{
  text-align: center;
  color:  #888888;
  width: 100%;
  height:auto;
  font-weight: 100;
  margin: none;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  position:fixed -webkit-trantform: translateY(0);
  border-bottom: 4px solid #00796B;
    text-decoration: none;
    font-weight: normal;
    width:auto;
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s

}
input[placeholder]:hover :active{
  color:darkgrey;
  transition: 0.5s ease-in-out;
  width: 50%;

}
@-webkit-keyframes slidein {
  from{-webkit-transform: translateY(500%)}
  to{-webkit-transform: translateY(0)}

}
@-webkit-keyframes fadein {
  from{opacity:0}
  to{opacity:1}

}
@-moz-keyframes slidein {
  from{-moz-transform: translateY(500%)}
  to{-moz-transform: translateY(0)}

}
@-moz-keyframes fadein {
  from{opacity:0}
  to{opacity:1}

}
